@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="Form-ChatCreation-menu">
    <div class="main">
        <img src="img/arrow.svg" alt="arrow" class="arrow">
        <h1>Create new chat</h1>
        <form action="post">
            <div class="name"><label>Name<span>*</span></label>
                <input type="text" placeholder="sample name"></div>

            <div class="file">
                <label class="file-input"><input type="file"><img src="img/img.svg" alt="add"></label>

                <div class="addUser">
                    <a><img src="img/addUser.svg" alt="add"></a>
                    <h2>Amount of User:</h2>
                </div>
            </div>

            <button type="submit">Create</button>
        </form>
    </div>
</section>