
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
@model AplicationMessanger.Models.ViewModel.ChatVM;

}
<section class="Form-ChatCreation-menu">
    <div class="main">
        <img src="~/img/arrow.svg" alt="arrow" class="arrow">
        <h1>Create new chat</h1>
        <form method="post" asp-action="CreateChat" enctype="multipart/form-data">

            <div class="name"><label>Name<span>*</span></label>
                <input asp-for="ChatName" type="text" placeholder="sample name"></div>
                <span asp-validation-for="ChatName"></span>
            <div class="file">
                <label class="file-input"><input asp-for="Avatar" id="uploadBox" type="file"><img src="~/img/img.svg" alt="add"></label>
                <span asp-validation-for="Avatar"></span>
                <div class="addUser">
                    <a ><img src="~/img/addUser.svg" alt="add"></a>
                    <input asp-for="UserId" value="@Model.UserId" hidden/>
                    <h2>Amount of User: 2</h2>
                </div>
            </div>

            <button type="submit">Create</button>
        </form>
    </div>
</section>