
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
@model AplicationMessanger.Models.ViewModel.ClassCreationVM;   
}

<section class="Form-ChatCreation">
    <div class="main">
       <a asp-controller="Home" asp-action="Index"> <img src="~/img/arrow.svg" alt="arrow" class="arrow"></a>
        <form method="post" asp-action="GetUsers">
            <input type="text"  asp-for="SeacrhLine" placeholder="Search...">
            <button type="submit">
                <img src="~/img/loop.svg" alt="loop">
            </button>
        </form>
        @if (Model.UsersFind.Count > 0)
        {
            @for (int i = 0; i < Model.UsersFind.Count; i++)
            {
                <div class="user-container">
                    <div class="user">
                        @if (Model.UsersFind[i].Avatar != "")
                        {
                            <img src="~/img/avatars/@Model.UsersFind[i].Avatar" alt="user"/>
                            
                        }
                        else
                        {
                            <img src="~/img/placeholder.png" alt="user">
                        }
                        <h2>@Model.UsersFind[i].UserName</h2>
                        <form method="post" asp-action="Post">
                            <input asp-for="@Model.IdUser" value="@Model.UsersFind[i].Id"  hidden/>
                            @if (@Model.CurrentChat != null)
                            {
                                <input asp-for="IdUser" value="" hidden/>
                            }
                        
                            @if (Model.CurrentChat != null && Model.CurrentChat.Users.Contains(Model.UsersFind[i]))
                            {
                                <button type="submit"><img src="~/img/minus.svg" alt="delete" class="confirm"></button>
                            }
                            else
                            {
                                <button type="submit"><img src="~/img/plus-circle.svg" alt="add" class="confirm"></button>
                            }
                        </form>
                    </div>

                </div>
            }    
        }
       @* <div class="user-container">
            <div class="user">
                <img src="~/img/placeholder.png" alt="user">
                <h2>Name</h2>
                <img src="img/plus-circle.svg" alt="add" class="confirm">
            </div>

        </div>*@

    </div>

</section>